{% extends 'shop/basic.html' %}
{% block title %}Awesome Cart{% endblock title %}
{% block css %}
.card{
    border-radius: 13px;
    overflow: hidden;
    border:1px solid #eceff1;
  }
    .col-md-3 {
      display: inline-block;

    }

    .col-md-3 img {
      width: 100%;
      height: auto;

    }

    body .carousel-indicator li {
      background-color: blue;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
      background-color: blue;
    }

    body .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
    .carousel-indicators .active{
      background-color: blue;
    }
{% endblock css %}
{% block body %}
{% load static %}
<div class="container">
    <div id="carouselExampleControls" class="carousel slide my-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card">
                <img src="{% static 'shop/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
{% endblock body %}








